/* CSS RESET - Alvin Varghese */
/* https://github.com/alvin1904 */

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 1 */
	height: 100%;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
	/* transition: all ease-in-out 250ms; */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-inline-size: 100%;
	max-block-size: 100%;
	border-style: none;
}
/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	user-select: auto;
	outline-color: transparent;
	border: 0;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

::-webkit-scrollbar {
	width: 0;
}

:root {
	--bg-pic: "";
	--bg-default-color: "#000";
	--bg-light: "";
	--bg-accent: "";
}
body {
	min-height: 100vh;
	min-width: 100vw;
	background-color: #0f001e;
}

.goblin_green {
	--bg-default-color: rgb(27, 56, 49);
	--bg-pic: url("../../assets/bg/goblin_green.webp");
	--bg-light: rgba(6, 134, 104, 0.4);
	--bg-accent: #065542;
}
.midnight_shadow {
	--bg-default-color: rgb(34, 34, 34);
	--bg-pic: url("../../assets/bg/midnight_shadow.webp");
	--bg-light: rgba(54, 54, 54, 0.6);
	--bg-accent: #3f3f3f;
}
.phantom_blue {
	--bg-default-color: rgb(32, 117, 163);
	--bg-pic: url("../../assets/bg/phantom_blue.webp");
	--bg-light: rgba(104, 176, 216, 0.3);
	--bg-accent: #2692cd;
}
.mystic_violet {
	--bg-default-color: rgb(116, 43, 140);
	--bg-pic: url("../../assets/bg/mystic_violet.webp");
	--bg-light: rgba(185, 117, 208, 0.5);
	--bg-accent: #8e42ab;
}
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 5px;
}
.loader {
	display: flex;
	z-index: 9999;
	background: transparent;
	border: 2px solid transparent;
	border-right: 2px solid black;
	border-radius: 50%;
	animation: loader 1s linear infinite;
}
@keyframes loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.error_block {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	display: flex;
	max-height: 50vh;
	width: 320px;
	flex-direction: column-reverse;
	gap: 0.65rem;
	overflow-y: scroll;
	z-index: 1001;
}
.error_handler {
	min-height: 45px;
	width: 320px;
	padding: 5px 10px;
	background: linear-gradient(-35deg, #ffffff05, #ffffff33);
	color: white;
	backdrop-filter: blur(5px);
	border: 1px solid #ffffff22;
	border-radius: 5px;
	box-shadow: 0 0 2px 0px #00000088;
	display: flex;
	justify-content: space-between;
	text-align: left;
	align-items: center;
	opacity: 0;
	user-select: none;
}
.show {
	transition: all 0.2s ease-in-out;
	animation: enterTheError 0.2s ease-in-out forwards;
}
.hide {
	opacity: 0;
}
.error_msg {
	flex-grow: 1;
}
.close {
	flex-basis: 20px;
	border-radius: 50%;
	padding: 2px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
.close:hover {
	background-color: #ffffff22;
}
@keyframes enterTheError {
	from {
		transform: translateX(-2rem);
		opacity: 0;
	}
	to {
		transform: translateX(0rem);
		opacity: 1;
	}
}
@media (max-width: 768px) {
	.error_block {
		bottom: 12%;
		right: 4%;
		z-index: 1;
		height: auto;
	}
	.error_handler {
		background-color: white;
		color: black;
	}
}
