/* CSS RESET - Alvin Varghese */
/* https://github.com/alvin1904 */

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 1 */
	height: 100%;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
	/* transition: all ease-in-out 250ms; */
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-inline-size: 100%;
	max-block-size: 100%;
	border-style: none;
}
/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	-webkit-user-select: auto;
	outline-color: transparent;
	border: 0;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

*,
:root {
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
	width: 0;
}

.goblin_green {
	background: rgb(27, 56, 49);
	background-image: url('../../assets/bg/goblin_green.webp');
}
.midnight_shadow {
	background: rgb(34, 34, 34);
	background-image: url('../../assets/bg/midnight_shadow.webp');
}
.phantom_blue {
	background: rgb(32, 117, 163);
	background-image: url('../../assets/bg/phantom_blue.webp');
}
.mystic_violet {
	background: rgb(116, 43, 140);
	background-image: url('../../assets/bg/mystic_violet.webp');
}
.goblin_green .chat {
	background: rgba(37, 75, 66, 0.6);
}
.midnight_shadow .chat {
	background: rgba(54, 54, 54, 0.6);
}
.phantom_blue .chat {
	background: rgba(104, 176, 216, 0.6);
}
.mystic_violet .chat {
	background: rgba(167, 112, 186, 0.6);
}
.goblin_green .cHeader {
	background: #254b42;
}
.midnight_shadow .cHeader {
	background: #363636;
}
.phantom_blue .cHeader {
	background: #68b0d8;
}
.mystic_violet .cHeader {
	background: #8e42ab;
}
@media (max-width: 768px) {
	.goblin_green .cSettings {
		background: #254b42;
	}
	.midnight_shadow .cSettings {
		background: #363636;
	}
	.phantom_blue .cSettings {
		background: #68b0d8;
	}
	.mystic_violet .cSettings {
		background: #8e42ab;
	}
}
