.section {
	width: 340px;
	height: 300px;
	border-radius: 15px;
	backdrop-filter: blur(50px) saturate(150%);
	-webkit-backdrop-filter: blur(50px) saturate(150%);
	background-color: rgba(255, 255, 255, 0.08);
	border: 1px solid rgba(209, 213, 219, 0.3);
	display: grid;
	justify-content: center;
	padding: 5px;
}
.subsec {
	display: grid;
	grid-auto-flow: row;
	align-content: space-evenly;
	justify-items: center;
}
.subsec button {
	all: unset;
	text-align: center;
	background-color: white;
	color: black;
	border-radius: 5px;
	height: 40px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	font-weight: 500;
	font-size: 1.1rem;
}
.subsec button:hover {
	background-color: #e5e7eb;
}
.subsec button,
.subsec .roomName {
	width: 280px;
}
.roomName {
	background-color: transparent;
	color: white;
	border: none;
	outline: none;
	border-bottom: 2px solid #fff;
	font-size: 1.2rem;
}
.roomName::placeholder {
	opacity: 0.5;
}
.roomCode input {
	border: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	width: 40px;
	height: 47px;
	margin: 5px 2.5px;
	color: white;
	text-align: center;
	font-size: 1.2rem;
}
.heading2 {
	padding: 0;
	font-size: 1.2rem;
	color: white;
	text-align: center;
	text-wrap: balance;
}

@media (min-width: 768px) {
	.section {
		width: 500px;
		height: 330px;
		gap: 5px;
	}
	.subsec button,
	.subsec .roomName {
		width: 350px;
	}
	.heading2 {
		padding: 10px 30px;
	}
}
